* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #040422;
  --secondary-color: #fcc255;
  --btnpadding: 0.5rem;
  --boxShadow: -3px -3px 7px #24080850,
    3px 3px 7px #0a030357;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 14px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  background: url(../../../resources/images/hero-header-bck.png) top / contain no-repeat;
  box-shadow: 1px -1px 1px rgba(128, 128, 128, 0.381);
    border-top-right-radius: 10px;
    overflow: auto;
}

img {
  display: block;
}


header {
  padding: 1rem 2rem;
}

header .mobile-view {
  display: none;
}

header .desktop-view {
  display: flex;
/*   background: rgba(255, 255, 255, 0.92); */
  padding: var(--btnpadding);
  border-radius: 0.5rem;
}

/* links */
.items:nth-child(2) {
  flex-grow: 5;
}

.items:nth-child(2) ul {
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

    .items:nth-child(2) ul li{
      height: 100%;
      display: grid;
      place-content: center;
    }
    .items:nth-child(2) ul li a{
    text-decoration: none;
    padding: 0 0.8rem;
    display: grid;
    width: 100%;
    line-height: 2;
    place-content: center;
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    white-space: nowrap;
    color: white;
  }

.items:nth-child(2) ul li a:active {
  color: var(--secondary-color);
}

.items:nth-child(2) ul li a:hover {
  border-bottom: 0.2rem solid var(--secondary-color);
}




main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

main section:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../resources/images/qr\ img.jpeg') center / cover no-repeat;
  color: white;
  display: grid;
  place-content: center;
  box-shadow: 1px -1px 1px rgba(128, 128, 128, 0.381);
  border-top-right-radius: 10px;
  text-align: center;
  font-size: 2rem;
}

main section:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
    .float{
      position: absolute;
      width: 4rem;
    }
    .float:nth-child(1){
      right: 4%;
      top: 2%;
    }
form {
  width: min(500px, 90%);
  background: white;
  backdrop-filter: blur(15px);
  box-shadow: var(--boxShadow);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

form h1 {
  text-align-last: center;
  font-size: 1.8rem;
}

form .error-msg {
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
  background: rgba(239, 63, 63, 0.805);
  color: white;
  padding-left: 0.3rem;
  border-radius: 0.14rem;
  margin-top: 0.2rem;
  display: none;
  
}

form label {
  display: block;
  padding: 0.5rem 0 0.2rem 0;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  text-transform: capitalize;

}

form .input {
  width: 100%;
  border-radius: 0.5rem;
  height: 3rem;
  outline: none;
  border: none;
  background: rgba(128, 128, 128, 0.212);
  padding: 0.5rem;
  font-size: 1rem;
}


form .btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.btn-container button {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: capitalize;
  padding: var(--btnpadding);
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  margin-top: 0.5em;
}

.btn-container button:nth-child(1) {
  color: white;
  background: var(--primary-color);
}

.btn-container button:nth-child(2) {
  color: white;
  border: 0.14rem solid var(--secondary-color);
  color: var(--secondary-color);
}

form p {
  padding: var(--btnpadding);
  margin-top: 1rem;
  text-align: center;
}

form p a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.2rem;
}

form p a:hover {
  text-decoration: underline;
}


/* ********************************************   

                MObile desktop view 

**********************************************/
@media screen and (min-height: 992px)  {

      header .desktop-view{
        position: fixed;
        top: 0;
        width: 100%;
      }
      main{
        grid-template-columns: 1fr;
        grid-template-rows: 0 2fr;
      }
    main section:nth-child(1) {
      visibility: hidden;
    }
    form {
      width: 500px;
    }
   
  
  .items:nth-child(2) ul {
    width: 80%;
  }
    .items:nth-child(2) ul li a{
    font-size: 1.2rem;
  }
}


/***********************************************************
    
            MOBILE VIEW 
    
    *************************************************/
@media screen and (max-width: 568px) {
  header .desktop-view {
    display: none;
  }

  header {
    padding: 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 3px 7px black;
  }

  header .mobile-view {
    display: block;
    background: white;
  }

  .mobile-view .items {
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--boxShadow);
  }

  .mobile-view .items .toggle {
    border: 0.12rem solid rgba(128, 128, 128, 0.212);
    padding: 0.5rem 0.6rem;
    border-radius: 0.4rem;
  }

  .mobile-view .items .toggle:active {
    color: var(--secondary-color);
  }

  .drop-items {
    display: none;
  }
  
  .mobile-view .drop-down ul {
    list-style-type: none;
    background: white;
  }

  .mobile-view .drop-down ul li a {
    border: 0.1rem solid rgba(128, 128, 128, 0.146);
    padding: 0.6rem;
    font-size: 1.2rem;
    font-weight: 500;
    list-style-type: none;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary-color);
  }

  .mobile-view .drop-down ul li a:hover {
    color: white;
    background: var(--primary-color);
  }

  body {
    overflow: auto;
  }

  main section:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../../resources/images/qr\ img.jpeg') center / cover no-repeat fixed;
  }

  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  main section:nth-child(2) {
    padding: 1rem;
  }

  main section:nth-child(2) form {
    width: 100%;
  }

  form {
    padding: 1rem;
  }

  form .btn-container {
    flex-direction: column;
    margin-top: 0.9rem;
  }

  form .btn-container button {
    width: 100%;
    padding: 0.9rem;
    margin-top: 0.9rem;
  }

}